#myMenunav{
    z-index: 4;
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height:33px;
    font-size:12px;
    text-transform:uppercase;
    vertical-align:middle;
    font-weight:bold;
    background: #4D4D4D;
    padding:10px 20% 34px 20%;
    border-bottom: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    border-top: 3px solid #949494;
    border-left: 3px solid #949494;
}
#myMenunav ul{
    margin:0;
    padding:0;
    list-style-type:none;
    width:auto;
    float:left;

}
#myMenunav ul li{
    display:block;
    float:left;
    margin:2px 2px;
    padding:0 30px 0 0;
}

#myMenunav ul li a{
    display:block;
    float:left;
    color: #797979;
    text-decoration:none;
    padding:0 0px 0 0;
    height:18px;
    cursor: pointer;
    transition-duration: 0.5s;
}
myFont{
    color: #797979;
    transition-duration: 0.5s;

}myFont:hover{
     color: #EAF3F8;
     transition-duration: 0.5s;

 }
#myMenunav ul li a:hover{
    display:block;
    float:left;
    color:#EAF3F8;
    text-decoration:none;
    padding:0 0px 0 0;
    height:18px;
    cursor: pointer;
    text-shadow: #810102;
    transition-duration: 0.5s;
}
.Minesweeper{
    top:55px;
    position: absolute;
    width: 100%;
    bottom: 10px;
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-top: 4px solid #949494;
    border-left: 4px solid #949494;
}
.minefield {
    text-align: center;
    width: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    border-top: 3px solid #949494;
    border-left: 3px solid #949494;
}
.td2class{
    border-bottom: 3px solid #949494;
    border-right: 3px solid #949494;
    border-left: 3px solid #ffffff;
    background-color: #bfbfbf;padding: 8px;
}
.td1class{
    width: 100%;
    border-bottom: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    border-top: 3px solid #949494;
    border-left: 3px solid #949494;
    background-color: #bfbfbf
}
.td3class{
    width: 50vh;
    border-right: 3px solid #949494;
    border-top: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    background-color: #bfbfbf;padding: 8px;
    padding-bottom: 2px;
}
table {

    border: 0px;
    display: block;
    margin: 0px;
    border-collapse: collapse
}
.minefield td {
    width: 25px;
    height: 25px;
    padding: 0px;
    margin: 0px;
    bottom: 0px;

}

.hiddenCell{
    width: 24px;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #666;
    margin: 0px;
    font: 16px bold;
    background-color: #bfbfbf;
    border-bottom: 3px solid #949494;
    border-right: 3px solid #949494;
    border-top: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    transition-duration: 0.5s;
}

.hiddenCell:hover {
    width: 24px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #ababab;
    border-bottom: 3px solid #949494;
    border-right: 3px solid #949494;
    border-top: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    transition-duration: 0.5s;
}

.hiddenCell:active {
    width: 24px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #7f7f7f;
    border-bottom: 3px solid #949494;
    border-right: 3px solid #949494;
    border-top: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    transition-duration: 0.5s;
}

.clickedCell{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 24px;
    height: 100%;
    border: 1px solid #a4a4a4;
    background-color: #bfbfbf;
    transition-duration: 0.5s;
    display: table;
}
.clickedCell:hover{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 24px;
    height: 100%;
    background-color: #d6d6d6;
    transition-duration: 0.5s;
    display: table;
}

.clickedCell1Child{
    display: block;
    font: 20px bold;
    vertical-align: middle;
}
.number1{color: #4d4bc1;}
.number2{color: #017f01;}
.number3{color: #fe0000;}
.number4{color: #010080;}
.number5{color: #810102;}
.number6{color: #008081;}
.number7{color: #000000;}
.number8{color: #808080;}

.clickedCell1ChildBomb{
    height: 100%;
    width: 24px;
}.clickedCell1ChildFlag{
     height: 100%;
     width: 100%;
 }
.bomb{
    height: 25px;
    width: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.smallBomb{
    height: 19px;
    width: 19px;
    display: block;
}
.redBomb{
     background-color: red;
     height: 25px;
     width: 25px;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }.flag{
     height: 18px;
     width: 18px;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
.card {
    display: block;
    width: 0px;
    padding: 9px;
    border-radius: 3px;

}
.gameHolder{

display: block;
}
body {

    background-repeat: no-repeat;
    background-size: cover;
    background-color: #aeaeae;
    margin: 0px;
}
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#f2f2f2;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat;
}
.flagCounter{
    border: none;
    background-color: transparent;
}





header {
    background: #ccc;
    height: 50px;
    width: 100%;

    position: absolute;
}

header h1 {
    margin: 0;
    padding-top: 15px;
}




footer {
    z-index: -4;
    width: 100%;
    position: absolute;
    display: ta;
    text-align: center;
    left:0px;
    width: 100%;
    height:33px;
    background-color: #222222;
    padding:10px 20% 34px 20%;
    border-bottom: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    border-top: 3px solid #949494;
    border-left: 3px solid #949494;
    bottom: 0;
    overflow:hidden;
}

.newGameForm{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.newGameForm h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.newGameForm input[type="text"],
.newGameForm select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.newGameForm input[type="text"]:focus,
.newGameForm select:focus
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}
.newGameForm textarea{
    resize:none;
    overflow: hidden;
}
.newGameForm input[type="button"],
.newGameForm input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    margin-right: 50px;
    margin-left: 50px;
    text-transform: uppercase;
}
.newGameForm input[type="button"]:hover,
.newGameForm input[type="submit"]:hover {
    left: 30%;
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}
.logoContainer
{
}
.logo
{
    top:7px;
    left: 11%;
    position: fixed;
    z-index: 100;
    width:35px;
    height:35px;
    transition-duration: 0.5s;
}
.logo:hover
{
    top:-3px;
    left: 10%;
    position: fixed;
    z-index: 100;
    width:55px;
    height:55px;
    transition-duration: 0.5s;
}